######## ESTRUTURA DE PREENCHIMENTO #########
ENDERECO_IP	NUM_GRUPO	NOME_GRUPO

################## EXEMPLO ##################
192.168.0.1	01	Financeiro
192.168.0.2	01	Financeiro
192.168.0.3	02	Administrativo
192.168.0.4	03	Diretoria